@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

.section-header-bar {
  //bg-primary p-2 text-white
  padding: map-get($map: $spacers, $key: 2);
  background-color: $primary;
  color: $white;
}
