@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

.section-header-bar {
  //bg-primary p-2 text-white
  padding: map-get($map: $spacers, $key: 2);
  background-color: $primary;
  color: $white;
}

.app {
  height: 100%;

  .editor-and-preview-container {
    height: calc(100% - 56px);
    & > div {
      height: 100%;
    }
    .section {
      height: calc(100% - 40px);

      textarea {
        resize: none;
        border-radius: 0;
        border-top: 0;
      }
    }
  }
}

#preview {
  overflow-y: auto;
  width: 100%;
}
